body{
    margin: 0;
    background-color: white;
}

img{
    width: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    background-color: white; 
    padding: 10px 20px;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
    padding: 0 5px;
    
}
.menu-hamburguer{
    display: none;
 
}
@media(max-width: 700px){
    nav{
        position: absolute;
        right: 0;
        top: 70px;
        width: 100%;
        background-color: white;
        text-align: right;

    }
    nav a{
        display: block;
        padding: 5px 20px;
    }
    .menu-hamburguer{
        display: block;
        right: 0;
    }
}